<a href="https://colab.research.google.com/github/cahyoardhi/DSC-TEL-U-ML-STUDYJAM/blob/main/DSC_Week_4_Deployment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**a. MACHINE LEARNING**

<img src="https://wordstream-files-prod.s3.amazonaws.com/s3fs-public/styles/simple_image/public/images/machine-learning1.png?SnePeroHk5B9yZaLY7peFkULrfW8Gtaf&itok=yjEJbEKD" width="50%">

Apa itu machine learning?
machine learning adalah cabang keilmuan yang dimana membuat membuat suatu sistem dapat belajar dari data untuk mendapatkann pengalaman guna menyelesaikan permasalahan tertentu, machine learning sendiri terbagi menjadi 3 jenis, antara lain:

<ul>
<li><b>Supervised Learning</b></li>
supervised learning merupakan salah satu jenis dari varian machine learning, pada jenis ini, model machine learning akan melakukan pembelajaran dengan data yang terbagi menjadi dua bagian, yaitu <b>Feature variable / Independent variable / data X</b> dan <b>Target variable / dependent variable / data Y / Label</b>

permasalahan yang dapat diselesaikan menggunakan supervised learning ada dua,  yaitu melakukan prediksi pada kategori / klasifikasi dan prediksi pada nilai kontinu / regresi, beberapa contohnya adalah melakukan prediksi nilai saham (regresi), melakukan prediksi pertumbuhan penduduk berdasarkan data yang ada (regresi), melakukan klasifikasi customer berdasarkan data yang ada (klasifikasi), membuat spam filter pada email box (klasifikasi)

beberapa algoritma yang terdapat pada supervised learning adalah:
<ul>
<li>Linear Regression (Regresi)</li>
<li>Decision Tree Regressor (Regresi)</li>
<li>Logistic regression (Klasifikasi)</li>
<li>Support Vector Machine (Klasifikasi)</li>
</ul>

pada pembelajaran di minggu ini, kita akan belajar untuk menyelesaikan permasalahan Klasifikasi, yaitu mengenai customer churn pada layanan kartu kredit suatu bank<br><br>

<li><b>Unsupervised Learning</b></li>
unsupervised learning merupakan salah satu jenis dari varian machine learning, pada jenis ini model machine learning akan melakukan pembelajaran guna mencari pola pada data, permasalahan yang dapat diselesaikan menggunakan unsupervised learning 
<li><b>Reinforcement Learning</b></li>
</ul>

##**1. Data Collection**

<img src="https://miro.medium.com/max/8332/1*wK8k8Vo8_c6jdYIjUWL_Pw.png" width="50%">

###Ambil data dari link github yang disediakandan buatlah dataframe dari data tersebut menggunakan pandas!

In [ ]:
link_data = 'https://raw.githubusercontent.com/cahyoardhi/DSC-TEL-U-ML-STUDYJAM/main/BankChurners.csv'

#tulis kode disini

###jawaban

In [1]:
import pandas as pd

link_data = 'https://raw.githubusercontent.com/cahyoardhi/DSC-TEL-U-ML-STUDYJAM/main/BankChurners.csv'
df = pd.read_csv(link_data)


#output 5 nilai terbesar
df.head()

   CLIENTNUM  ... Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0  768805383  ...                                            0.99991
1  818770008  ...                                            0.99994
2  713982108  ...                                            0.99998
3  769911858  ...                                            0.99987
4  709106358  ...                                            0.99998

[5 rows x 23 columns]

##**2. Exploratory Data Analysis**

<img src="https://miro.medium.com/max/2598/1*RXdMb7Uk6mGqWqPguHULaQ.png">

##**3. Data Preprocessing**

<img src="https://miro.medium.com/max/1200/1*K6ctE0RZme0cqMtknrxq8A.png" width="50%">

##**4. Create Machine Learning Model**

<img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/machineLearning3.png" width="50%">

##**5. Model Evaluation**

<img src="https://irinstitutes.org/wp-content/uploads/2017/04/evaluation.jpg" width="50%">

##**6. Save Model**

<img src="https://cdn.lynda.com/course/421800/421800-637286180187241484-16x9.jpg" width="50%">

#**b. DEEP LEARNING**